body {
    background: #d89b9b;
    margin-left: 40px;
    margin-right: 350px ;
}
.topo {
    margin-left: 500px;
}
header {
    margin-top: 80px;
}
h1 {
    color: #974f97;
    font-family: Cambria;
}
h2{
    font-family: Cambria;
}
p {
    font-size: 18px;
}
img {
    margin-bottom: 30px;
}
.icon {
    margin-bottom: 0px;
}
footer {
    margin-bottom: 10px;
    margin-left: 500px;
}